body {
    width: 98%;
    height: 100%;
    margin: 10px;
}

.fullWidth {
    width: 60%;
}

.fullHeight {
    min-height: 160px;
    max-height: 50%;
}

.fullSizeImg {
    min-height: 180px;
    max-height: 180px;
}

@media only screen and (max-width: 600px) {
    .fullWidth {
        width: 90%;
    }
}

.hidden {
    display: none;
}