asgiref==3.6.0
Django==4.1.5
django-cors-headers==3.13.0
djangorestframework==3.14.0
gevent==22.10.2
greenlet==2.0.1
gunicorn==20.1.0
packaging==23.0
Pillow==9.4.0
psycopg2-binary==2.9.5
pytesseract==0.3.10
python-dotenv==0.21.1
pytz==2022.7.1
sqlparse==0.4.3
whitenoise==6.3.0
zope.event==4.6
zope.interface==5.5.2
