certifi==2018.11.29
chardet==3.0.4
dj-database-url==0.5.0
Django==2.2.13
django-cors-headers==2.5.0
djangorestframework==3.9.2
idna==2.8
Pillow==6.2.0
psycopg2==2.7.7
pytesseract==0.2.6
pytz==2018.9
requests==2.21.0
urllib3==1.24.2
