container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: image_to_text_server/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    /static/: "staticfiles/"
