container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: auto_scribe_backend/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    /staticfiles/: "staticfiles/"
