commands:
  01-remove-old:
    command: "yum remove -y libwebp libpng"
  02-libwebp:
    command: "yum -y install libwebp"
  03-libpng:
    command: "wget http://mirror.centos.org/centos/7/os/x86_64/Packages/libpng-1.5.13-7.el7_2.x86_64.rpm && yum install -y --skip-broken libpng-1.5.13-7.el7_2.x86_64.rpm"
    ignoreErrors: true
  04-tesseract:
    command: "yum --enablerepo=home_Alexander_Pozdnyakov -y install tesseract"
