# /etc/systemd/system/image2text.service

[Unit]
Description=Gunicorn daemon for image2text
Before=nginx.service
After=network.target

[Service]
WorkingDirectory=/home/django/image2text
ExecStart=/home/django/image2text/venv/bin/uvicorn \
--uds /home/django/image2text.socket \
--workers 3 \
image2text.asgi:application
Restart=always
SyslogIdentifier=image2text
User=django
Group=django


[Install]
WantedBy=multi-user.target